/* body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* nav */
nav {
    background-color: #333;
    color: white;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    box-sizing: border-box;
}

/* nav ul */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav ul li */
nav ul li {
    margin: 0 2%;
    padding: 1% 2%;
    font-size: 1.2rem;
}

/* nav ul li a */
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* h1, h2 */
h1, h2 {
    text-align: center;
    color: #333;
    margin-top: 2%;
    font-size: 2rem;
}

/* p, input, button */
p, input, button {
    font-size: 1rem;
    margin: 1% 0;
    padding: 1%;
}

/* メンバースタイル */
.members-container, #blogPosts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 2% auto;
    padding: 2%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2%;
    margin: 2%;
    text-align: center;
    width: 250px; /* 固定幅 */
    transition: transform 0.2s;
}

.member:hover {
    transform: scale(1.05);
}

.member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.member h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 1rem 0;
}

.member a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: #007bff;
}

.member a:hover {
    text-decoration: underline;
}

/* フォームのスタイル */
#postForm {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#postContent {
    width: 60%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#postForm button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#postForm button:hover {
    background-color: #218838;
}

#posts, #blogPosts {
    max-width: 80%;
    margin: 20px auto;
    padding: 2%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 追加のリンクスタイル */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
